parameters:
    level: 8
    paths:
        - .
    excludePaths:
        - ./vendor
        - ./DependencyInjection
        - ./Tests
    checkGenericClassInNonGenericObjectType: false
includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
